body {
    font-family: 'Open Sans', sans-serif;
}

/* nav item  */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}

.nav-title {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}

.text-primary {
    color: #FD6E0A;
}

nav>ul {
    display: flex;
    align-items: center;

}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: #474747;
}

.btn-primary {
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
}

.header {
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}

/* banner item  */

.banner {
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner .profile-pic {
    width: 500px;
}

.banner-greeting {
    font-size: 45px;
    color: #474747;
    margin-bottom: 0px;

}

.banner-title {
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
}

.bannar-dec {
    margin-bottom: 30px;

}

.banner-content {
    max-width: 500px;
}

/* section desing */

.about {
    margin: 130px 230px;
    padding: 130px;
    border-radius: 10px;
    background: #FFF8F3;
}
.section-title{
    color: #181818;
    font-size: 35px;
    text-align: center;
}
.section-description{
    color: #757575;
    text-align: center;
    font-size: 18px;
}