body {
    font-family: 'Open Sans', sans-serif;
}


/* nav item  */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}

.nav-title {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}

.text-primary {
    color: #FD6E0A;
}

nav>ul {
    display: flex;
    align-items: center;

}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: #474747;
}

.btn-primary {
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
}
.btn-primary:hover{
    color: red;
    cursor: pointer;
    box-shadow: 0 0 5px red,0 0 10px red,0 0 20px red,0 0 20px red,0 0 40px red;
    color: #FFF;
}


.header {
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png'), url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, top left;
}

/* banner item  */

.banner {
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner .profile-pic {
    width: 500px;
}



.banner-greeting {
    font-size: 45px;
    color: #474747;
    margin-bottom: 0px;

}

.banner-title {
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
}

.bannar-dec {
    margin-bottom: 30px;

}

.banner-content {
    max-width: 500px;
}

/* main section 1*/

.about {
    margin: 130px 230px;
    padding: 130px;
    border-radius: 10px;
    background: #FFF8F3;
}

.section-title {
    color: #181818;
    font-size: 35px;
    text-align: center;
}

.section-description {
    color: #757575;
    text-align: center;
    font-size: 18px;
}

.main {
    max-width: 1140px;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
}

.about-info {
    text-align: center;
    margin-left: 50px;
}

.info-title {
    columns: #757575;
}

.info-description {
    color: #474747;
}

/* main section 2 */
#what {
    padding: 30px 346px 50px 345px;
}

.icon-box {
    display: flex;
    padding: 0px 230px 130px;
}

.box-item {
    padding: 30px 33px;
    text-align: left;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    width: 267px;
    height: 377px;
    margin-left: 24px;
}

.leka {
    color: #757575;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    width: 201px;

}

.box-item-hide {
    padding: 30px 33px;
    text-align: left;
    width: 267px;
    height: 377px;
    margin-left: 24px;

}


/* main section 3 */

.resume-column-title {
    color: #474747;
    font-size: 30px;
    font-weight: 700;
}

.resume-container {
    display: flex;
    padding: 113px 230px;
    gap: 71px;
}

.resume-item-description {
    color: #757575;
    font-size: 16px;
}

.resume-item-institute {
    color: #757575;
    font-size: 20px;
    margin-bottom: 20px;
}

.resume-item-title {
    columns: #474747;
    font-size: 25px;
    font-weight: 700;
    margin-top: 30px 0 0 10px;
}

.resume-container hr {
    margin: 30px 0;
}

.download-cv {
    text-align: center;
    margin: 50px 0 113px 0;
}

/* footer part */

.footer-section {
    height: 780px;
    background: #FFF8F3;
}

.footer-container {
    display: flex;
}

.footer-title {
    color: #181818;
    font-size: 35px;
    font-weight: 700;

}

.footer-pera {
    color: #474747;
    font-size: 16px;
    padding: 20px 0 30px 0;

}

.footer-div2 {
    margin: 130px 0 0 230px;

}

.icon-class {
    margin-right: 24px;
}

.footer-div3 {
    margin: 130px 230px 0 117px;
}

.input-box {
    width: 461px;
    height: 45px;
    border-radius: 5px;
    background: #FFF;
    margin-top: 24px;
    padding: 10px 0 10px 30px;
    font-size: 16px;
}

.input-box-text {
    width: 461px;
    height: 135px;
    border-radius: 5px;
    background: #FFF;
    margin: 24px 0;
    padding: 20px 0 0px 30px;
    font-size: 16px;
}
.btn-primary{
    margin-right: 20px;
}